body {
  background-color: #C0C0C0;
}
#navigation {
  height: 100px;
  background-color: #000000;
}

#navigation logo{
  float: left;
}

#navigation a{
  color: #FFFFFF;
}

#navigation ul{
  margin: 0px;
  display: inline-block;
  float: right;
  line-height: 100px;
}

#navigation ul li{
  display: inline;
}

.paragraph {
  background-color:#FFFFFF;
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 1%;
  border-style: outset;
}

.content {
  text-indent: 30px;
}

#list li {
list-style-type: none;
}

.images {
  width: 150px;
  height: 150px;
  text-align: center;
  border-style: solid;
  margin:10px;
}

#table_1 table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#table_1 td, th {
    border: 1px solid #dddddd;
    text-align: left;
}

#table_1 tr:nth-child(even) {
    background-color: #dddddd;
}
