body {
  background-color: #C0C0C0;
}
#navigation {
  height: 100px;
  background-color: #000000;
}

#navigation logo{
  float: left;
}

#navigation a{
  color: #FFFFFF;
}

#navigation ul{
  margin: 0px;
  display: inline-block;
  float: right;
  line-height: 100px;
}

#navigation ul li{
  display: inline;
}

.paragraph {
  background-color:#FFFFFF;
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 1%;
  border-style: outset;
}

.content {
  text-indent: 30px;
}

#list li {
list-style-type: none;
}

.images {
  width: 150px;
  height: 150px;
  text-align: center;
  border-style: solid;
  margin:10px;
}

#table_1 table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#table_1 td, th {
    
    text-align: left;
    width:300px;
}

#table_1 tr:nth-child(even) {
    background-color: #dddddd;
}

#first-row {
	background-color: #000000;
    color: #ffffff;
}

#footer {
	line-height: 90px;
    height: 90px;
	background-color: #000000;
	color: #ffffff;
	text-align: center;
}

.block {
	margin-left: 30%;
}
.block label {
	display: inline-block;
	width: 140px; 
	text-align: right;
	margin:10px;
}
.block input[type="text"]{
	margin:10px;
	width: 180px;
}

#textarea-label {
	vertical-align: top;
	text-align: right;
}
.block textarea{
	margin:10px;
	width: 500px;
	height: 200px;
	display: inline-block;
}

#form-style #submit-button {
	text-align: center;
}

#form-style button {
	width: 90%;
	background-color: #2661F7;
	border-radius: 5px;
	height: 40px;
	color: #ffffff;
}
#no-border-input {
	border:0;
	outline: none
}